*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mgr4{
    margin-right: 4px;
}

/*  */

.header-bar{
    background-color:#ffffff;
    padding: 10px 0;
}

.logo{
    width: 150px;
}

.header-bar .header-item{
    margin: 10px;
}

.header-bar .search{
    justify-content: center;
}

.header-item .item{
    display: flex;
    flex-direction: row;
}

