#footer{
    width: 100%;
    padding-bottom: 20px;
    position: relative;
    background-color: #ffffff;
}

#footer .logo{
    width: 150px;
}

#footer .footer-introduction{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#footer .footer-introduction .item{
    display: flex;
}

#footer .footer-help,
#footer .footer-contact{
    margin-top: 20px;
    margin-right: 20px;
    
}

#footer .footer-help h5,
#footer .footer-contact h5{
    padding-bottom: 8px;
}

#footer .footer-help{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 200px;
}

#footer .footer-contact{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 0;
}